@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueado";
}

<hgroup>
    <h1 class="text-danger">BLOQUEADO</h1>
    <h2 class="text-danger">Esta cuenta ha sido bloqueada. Porfavor intentelo mas tarde</h2>
</hgroup>
