
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Register","Account")">Crear Usuario</a>
    </li>
    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Listado")">Listado de Usuarios</a></li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Cliente")">Listado de Clientes</a>
    </li>
    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Perfiles")">Perfiles de Usuario</a></li>
</ul>

