
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Register","Account")">Crear Nuevo Usuario</a>
    </li>
    <li> <a class="nav-link" href="@Url.Action("Crear","Cliente")">Crear un Cliente Nuevo</a></li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Crear","Plan")">Crear Nuevo Plan</a>
    </li>
    <li> <a class="nav-link" href="@Url.Action("Crear","Servicio")">Crear Nuevo Servicio</a></li>
</ul>

